<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="primary" class="mat-elevation-z10">
    <mat-icon>favorite</mat-icon>
    Top 12 Reads
    </mat-toolbar>
  <mat-sidenav-container fxFlex>
  <mat-sidenav-content mode="side"opened class="mat-elevation-z6">
   <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile
       *ngFor="let book of books">
       <img src={{book.imagePath}} alt="Image Unavialable {{book.book_details[0].title}}">
       <mat-grid-tile-footer>
            <h3 mat-line>{{book.book_details[0].author}}</h3>
            <span mat-line>{{book.googleDesc}}</span>
            <button mat-icon-button (click)="showDetails(book)">
                <mat-icon>info</mat-icon>
            </button>
        </mat-grid-tile-footer>
    </mat-grid-tile>
    </mat-grid-list>
    </mat-sidenav-content>
   <mat-sidenav  mode="side" align="end" class="mat-elevation-z6" #sidenav>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Details">
        <div class="demo-tab-content">
            <h4>{{selectedBook?.book_details[0].title}}</h4>
             <h5>by {{selectedBook?.book_details[0].author}}</h5>
            <a href={{selectedBook?.sample}} target="_blank"><button  mat-raised-button color="primary" >Read Sample</button></a>
            <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
           <mat-panel-title>
           Check Price
          </mat-panel-title>
          <mat-panel-description>
             {{selectedBook?.price.amount}} USD
          </mat-panel-description>
          </mat-expansion-panel-header>
             <a href={{selectedBook?.buyLink}} target="_blank"><button  mat-raised-button color="primary" >Buy Now</button></a>
         </mat-expansion-panel>      
        </div>  
      </mat-tab>  
            <mat-tab label="About">
        <div class="demo-tab-content">
         {{selectedBook?.googleDesc}}
        </div>
      </mat-tab>
      </mat-tab-group>
  </mat-sidenav>
 </mat-sidenav-container>
</section>
