<section class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-toolbar color="primary" class="mat-elevation-z10">
    <mat-icon>favorite</mat-icon>
    Top 15 Reads
    </mat-toolbar>
  <mat-sidenav-container fxFlex>
  <mat-sidenav-content mode="side"opened class="mat-elevation-z6">
   <mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile
       *ngFor="let book of books">
<!--         {{book.book_details[0].title}}-->
         <img src={{book.imagePath}} alt="{{book.book_details[0].title}}">
       <mat-grid-tile-footer>
            <h3 mat-line>{{book.book_details[0].author}}</h3>
            <span mat-line>{{book.book_details[0].description}}</span>
            <button mat-icon-button (click)="showDetails(book)">
                <mat-icon>info</mat-icon>
            </button>
        </mat-grid-tile-footer>
    </mat-grid-tile>
    </mat-grid-list>
    </mat-sidenav-content>
  <mat-sidenav  mode="side" align="end" class="mat-elevation-z6" #sidenav>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Details">
        <div class="demo-tab-content">
         {{selectedBook?.book_details[0].description}}
        </div>
      </mat-tab>
<!--
      <mat-tab label="Tab 2">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>  
      </mat-tab>  
-->
      </mat-tab-group>
    </mat-sidenav>
</mat-sidenav-container>

</section>
