/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.app{
    height: 100%;    
}

mat-sidenav {
    width: 40%;   
}

mat-toolbar {
  z-index: 10;     
}

mat-drawer-container {
   position: fixed;
   height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 100%;
}